<footer id="sticky-footer" class="py-4 bg-dark text-white">
  <div class="container text-center">
    <small>Brought to you by <%= link_to "Casey Yost", "http://caseyyost.com", class: "text-white" %></small>
  </div>
</footer>
